{%  extends 'portfolio/base.html'  %}
{%  block content  %}

<div class="row justify-content-center">
  <div class="col-lg-4 pt-1 ps-3 ">
    <div class="card-body">
      <h3 class="card-title">{{  project.title  }}</h3>
      <p class="card-text">{{  project.description  }}</p>
    </div>
      <div class="row">
        <div class="col text-center">
          <div class="btn-group btn-group-lg w-100">
            {%  if project.git_url  %}
            <a class="btn btn-lg btn-outline-dark w-50" href="{{  project.git_url  }}" role="button">
              GitHub
            </a>
            {%  endif %}
            {%  if project.site_url  %}
            <a class="btn btn-lg btn-outline-dark w-50" href="{{  project.site_url  }}" role="button">
              Site
            </a>
            {%  endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 py-3 gap-2">
      {%  for image in images  %}
        <img src="{{  image.image.url  }}" class="img-thumbnail rounded mx-auto d-block" width=75% alt="">
      {%  endfor  %}
    </div>
</div>

{%  endblock  %}
