{%  extends 'portfolio/base.html'  %}

{%  block content  %}
{%  load static  %}
<br>
<br>
<body class="text-white bg-dark">
  <section class="py-5 text-center container">
    <img class="rounded-circle" src="static/portfolio/photo.jpg" width="230" height="230" alt="">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">Hello</h2>
        <h3 class="fw-light">I'm Dmitry</h3>
        <p class="lead text-muted">Junior Python/Django backend developer</p>
      </div>
    </div>
  </section>
</body>

{%  endblock  %}
