{%  extends 'portfolio/base.html'  %}

{%  block content  %}
{%  load static  %}

<body>

  <div class="cover-container d-flex w-100 h-100 mx-auto " >
    <div class="bg-image">
      <div class="position-relative">
      <img src="static/portfolio/back1.jpg" class="w-100">
        <div class="position-absolute top-0 left-0 d-flex justify-content-center align-items-center w-100 h-100 " style="background: rgba(0,0,0,0.6);">
          <div class="position-absolute top-0 left-0 d-flex justify-content-center align-items-center w-50 h-50 ">
            <div class="row justify-content-center align-items-center">
              <div class="col">
              <p class="text-center">
              <img class="rounded-circle" src="static/portfolio/photo.jpg" width="230" height="230" alt="">
              </p>
                <div class="text-white text-center">
                  <h2 class="fw-light">Hello</h2>
                  <h3 class="fw-light">I'm Dmitry</h3>
                  <p class="lead text-muted">Junior Python/Django backend developer</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

{%  endblock  %}
