{%  extends 'portfolio/base.html'  %}

{%  block content  %}

{%  load static  %}
<br>
<img src="{%  static 'portfolio/coding.jpg'  %}"width="500" height="300" >
<br>
<br>
<br>
<h1>Portfolio</h1>
{%  for project in projects  %}

<div class="card" style="width: 15rem;">
  <img src="{{  project.image.url  }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{  project.title  }}</h5>
    <p class="card-text">{{  project.description  }}</p>
    <a href="{%  url 'portfolio:detail' project.id  %}" class="btn btn-primary">Show more</a>
    {%  if project.url  %}
    <a href="{{  project.url  }}" class="btn btn-primary">Link</a>
    {%  endif %}
  </div>
</div>
<br>
  {%  endfor  %}
{%  endblock  %}
