.sliderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sliderBtn{
    border:none;
    background-color:unset;
    margin: 0 20px 0 20px;
    cursor: pointer;
    }
  #slider{
    border:#747272 1px solid;
    cursor: pointer;
  }