{%  extends 'portfolio/base.html'  %}
{%  block content  %}
<body>
  <div class="container">
    <h1 class="text-center my-4">
      <strong>
        BLOG
      </strong>
    </h1>
    <hr class="featurette-divider">
    {%  for blog in blogs  %}
    <div>
      <h3 class="text-center">
        <a href="{% url 'blog:detail' blog.id %}" class="link-dark">
        {{  blog.title  }}
        </a>
      </h3>
      <h6 class="text-center">
        {{  blog.date|date:'d M Y'  }}
      </h6>
      <div class="text-center">
        <p class="text-center">
          {{  blog.text|truncatechars:100|safe  }}
        </p>
      </div>
      <br>
    </div>
    </body>
    {%  endfor  %}
  </div>

{%  endblock  %}
