{%  extends 'portfolio/base.html'  %}
{%  block content  %}
<br>
<h1 class="text-center">Blog</h1>
<hr class="featurette-divider">
{%  for blog in blogs  %}
<div>
  <h3 class="text-center">
    <a href="{% url 'blog:detail' blog.id %}">
    {{  blog.title  }}
    </a>
  </h3>
  <h6 class="text-center">
    {{  blog.date|date:'d M Y'  }}
  </h6>
  <div class="text-center">
    <p class="text-center">
      {{  blog.text|truncatechars:100|safe  }}
    </p>
  </div>
  <br>
</div>
{%  endfor  %}
{%  endblock  %}
