{%  extends 'portfolio/base.html'  %}
{%  block content  %}

<body>
  <section class="blog bg-dark" style="padding-top: 30px;">
    <h2 class="container_title text-center mb-3" style="color: #1ceba6; font-size: 36px;">
      BLOG
    </h2>
    {%  for blog in blogs  %}
    <div>
      <h3 class="text-center">
        <a href="{% url 'blog:detail' blog.id %}" class="link-light">
        {{  blog.title  }}
        </a>
      </h3>
      <h6 class="text-center" style="color:whitesmoke;">
        {{  blog.date|date:'d M Y'  }}
      </h6>
      <div class="text-center">
        <p class="text-center" style="color:whitesmoke;">
          {{  blog.text|truncatechars:100|safe  }}
        </p>
      </div>
      <br>
    </div>
    </div>
    {%  endfor  %}
  </section>
</body>

{%  endblock  %}
